.button {
    background-color: #fff;
    font-size: 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.operator {
    background-color: #ccc;
    border: 1px solid #fff;
}

#equal {
    background-color: #007fff;
    grid-column: 3/5;
}

#ce {
    grid-column: 1/3;
}
  